<p>Hello, Weather app!</p>

<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag(:query, "Get the current weather:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>